* {
    margin: 0;
    padding: 0;
    page-break-inside: avoid;
    break-inside: avoid;    
}

html {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.font-bold {
    font-weight: bold;
}

.logo {
    width: 200px;
    height: 200px;
    background-image: url('/static/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.payment {
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

.payment .logo-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.payment .company-info {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.payment .company-info p {
    text-align: center;
}

.payment .company-info p:first-child {
    margin-top: 0;
}

.payment .company-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.payment .company-more .item {
    display: flex;
    justify-content: space-between;
}

.payment .company-more .item p {
    font-weight: bold;
}

.payment .company-more .item span {
    margin-left: 5px;
}

.payment .client-info {
    display: flex;
    flex-direction: column;
}

.payment .client-info .item {
    margin-top: 5px;
}

.payment .client-info .item:first-child {
    margin-top: 0;
}

.payment .client-info .item p {
    font-weight: bold;
}

.payment .payment-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.payment .payment-info .item p {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
    border-bottom: 1px solid #000;
}

table th,
table td {
    padding: 5px;
}

.payment .pay {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.payment .pay .item {
    display: flex;
    width: 100%;
}

.payment .pay .item p {
    width: 50%;
    text-align: end;
    font-weight: bold;
}

.payment .pay .item span {
    width: 50%;
    text-align: end;
    margin-left: 2mm;
}

.payment .p-credit {
    font-weight: bold;
    border-top: 1px solid black;
    margin-top: 5mm;
    padding-top: 3mm;
    margin-bottom: 2px;
}

.footer {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: center;
    width: 100%;   
    margin-top: -5px; 
}